<!--The content below is only a placeholder and can be replaced.-->
<body>
  <div style="text-align:center">

  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://i.ytimg.com/vi/mN_e5-fcGU4/maxresdefault.jpg">

</div>


<<link rel="stylesheet" href="/css/app.component.css">
<h2>Here are some links to help you know them </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://en.wikipedia.org/wiki/Iron_Man">Tony Stark</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://en.wikipedia.org/wiki/Hulk_(film)">Bruce Banner aka Hulk</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://en.wikipedia.org/wiki/Captain_America:_The_First_Avenger">Captain America</a></h2>
  </li>
</ul>
</body>
<router-outlet></router-outlet>
